# ignore build folder
build/

# Ignore temporal files from LibreOffice
gtfs/.~lock*

# Validation Results
validation-results.html

.vscode/
generated/

# Jar files like OTP used for local debugging
*.jar
